<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel='icon' href = '/img/weather.png'>
    <link rel='stylesheet' href='/css/styles.css'>
    <script src='/js/app.js'></script>
</head>

<body>
    <div class='main-content'>
        {{>header}}
        <img class='portrait' src='/img/yutonglin.jpg' width="250px">
        <p>This is a site created by Ehaly. It views data from mapbox.com and weatherstack.com</p>
    </div>
    {{>footer}}
</body>

</html>